
@font-face {
   font-family: Montserrat;
   src: url(./styles/fonts/Montserrat-Regular.ttf);
}

/* You can add global styles to this file, and also import other style files */
.jcs {
  position: relative;
  border-radius: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
}

.jcs-value {
  text-align: center;
  position: absolute;
  border-style: none;
  border-radius: 100%;
  text-align: center;
  pointer-events: none;
  color: white;
  background-color: #253b48;
  outline: none;
}

.add-color {
  background-color: rgba(0, 0, 0, 0.4);
}

.add-border {
  border: 4px solid white !important;
}

.jcs-indicator {
  z-index: 10;
  position: absolute;
  border-radius: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  pointer-events: none;
}

.jcs-panel {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border: 7px solid rgba(0, 0, 0, 0.1) !important;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.jcs-indicator-current {
  position: absolute;
  border: 2px solid white;
  z-index: 0;
  border-radius: 40px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  pointer-events: none;
}

.time-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("./widget/clock.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  z-index: 0;
  background-size: cover;
}

.image-inside {
  padding-top: 10%;
  width: 140px;
  border-radius: 0;
}

.drag-icon {
  font-size: 10px;
  color: green;
}

.widget {
  height: 500px;
}

#god {
  height: 380px;
}

body {
  font-family: Montserrat, sans-serif;
}




/*
 * Let's target IE to respect aspect ratios and sizes for img tags containing SVG files
 *
 * [1] IE9
 * [2] IE10+
 */
/* 1 */
.ie9 img[src$=".svg"] {
  width: 100%;
}
/* 2 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img[src$=".svg"] {
    width: 100%;
  }
}
