.box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #253b48;
  min-height: 65px;
}

.active {
  border-bottom: 3px solid #ff7e29;
}

.drop-in-drop-group {
  margin-top: 5px;
}

.schools-special {
  font-family: Montserrat,Arial,Helvetica,sans-serif;
  color: #ff7e29 !important;
  letter-spacing: 1px;
  font-weight: bold;
}
.schools-special:hover {
  color: #FFA442 !important;
  cursor: pointer;
}

.drop-in-drop {
  font-family: Montserrat,Arial,Helvetica,sans-serif;
  color: #ff7e29 !important;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 15px !important;
  padding: 5px;
}
.drop-in-drop:hover {
  color: #FFA442 !important;
}

.drop-in-drop-active {
  color: #FFA442 !important;
}

.spacing {
  padding: 5px;
}

.dropdown-content {
  display: none;
  z-index: 10;
  text-align: left;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  top: 33px;
  left: 10px;
}

.dropdown {
  padding-bottom: 10px;
}

.dropdown-content a:hover {
  background-color: #E9E9E9;
}

.drop-active {
  background-color: #E9E9E9;
}

.drop-in-drop-display {
  display: block;
}

.dropdown:hover a:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.facebook {
  color: #3b5998  !important;
  padding-left: 9px !important;
  padding-right: 9px !important;
}

.twitter {
  color: #55acee  !important;
}

.instagram {
  color: #3f729b  !important;
}

.menu-item-center,
.menu-item-special {
  text-align: center;
}

.menu-item-right {
  float: right;
}

.social-group {
  text-align: center;
  float: none;
}
.social-group .social {
  padding: 7px;
}
.social-group .social:hover {
  background-color: #eee;
}

.menu {
  text-align: center;
}

.logo {
  padding-top: 7px;
}
.logo img {
  height: 35px;
}

.navigation {
  padding-top: 21px;
}

a:hover, a:active, a:visited, a:focus {
  text-decoration: none;
}

.orange-link {
  font-family: Montserrat,Arial,Helvetica,sans-serif;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #ff7e29 !important;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 14px;
}
.orange-link:hover {
  border-bottom: 3px solid #ff7e29;
  cursor: pointer;
}

.mobile-navigation {
  display: none;
}

.openSchools .menu-item {
  display: block;
}

.dropped-mobile-menu .menu-item {
  display: none;
  padding: 10px;
  margin-bottom: 5px;
}
.dropped-mobile-menu .menu-item a {
  font-size: 19px;
}

@media screen and (max-width: 815px) {
  .open .menu-item {
    display: block;
  }

  .navigation {
    display: none;
  }

  .mobile-navigation {
    color: #ff7e29;
    font-size: 25px;
    padding-top: 12px;
    display: block;
    float: right;
  }
  .mobile-navigation:hover {
    cursor: pointer;
  }
}
@media screen and (max-width: 1023px) {
  .instagram,
  .twitter {
    padding: 5px !important;
  }

  .facebook {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
}
@media screen and (max-width: 991px) {
  .instagram,
  .twitter {
    padding: 8px !important;
  }

  .facebook {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }
}
@media screen and (max-width: 992px) {
  .menu-item-special {
    padding-left: 20px;
  }
}
@media screen and (max-width: 900px) {
  .menu-item-special {
    text-align: right;
    padding-left: 20px;
  }
}
