<div class="box col-xs-12 override-style" [ngClass] ="headerScrolledStyled ? 'dynamic-styles': ''">
    <section class="col-xs-6 col-sm-2 logo">
      <img src="assets/images/logo/logo.svg" alt="">
    </section>

    <section class="col-sm-6 offset-lg-1 menu navigation">
      <div class="col-sm-2 col-lg-2  menu-item menu-item-center">
        <a routerLinkActive="active" [routerLink]="['home']" class="orange-link">HOME</a>
      </div>
      <div class="col-sm-4 col-lg-3 col-xl-2  menu-item  menu-item-special dropdown">
        <a  class="orange-link">SCHOOLS</a>
        <div class="dropdown-content">
          <a routerLinkActive="drop-active" [routerLink]="['schools/about']">ABOUT</a>
          <a routerLinkActive="drop-active" href="http://help.uvlens.com/article/6-weather-station-installation">INSTALLATION</a>
          <a routerLinkActive="drop-active" [routerLink]="['schools/registration']" href="#">REGISTRATION</a>
          <a routerLinkActive="drop-active" href="#">DATA PORTAL</a>
        </div>
      </div>
      <div class="col-sm-3 col-lg-2 menu-item menu-item-center">
        <a routerLinkActive="active" [routerLink]="['about']" class="orange-link">ABOUT</a>
      </div>
      <div class="col-sm-3 col-lg-2  menu-item  menu-item-center">
        <a routerLinkActive="active" [routerLink]="['contact']" class="orange-link">CONTACT</a>
      </div>
    </section>

    <section class="col-sm-4  col-lg-3  navigation">
      <!--<section class="col-sm-5">-->
        <!--<div class=" menu-item-right">-->
          <!--<a href="#" class="orange-link" [routerLink]="['widget']">FORECAST</a>-->
        <!--</div>-->
      <!--</section>-->
      <section class="col-sm-7 offset-sm-5">
        <div class=" menu-item-right social-group">
          <a class="social facebook" href="https://www.facebook.com/UVLens/?fref=ts" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a class="social twitter" href="https://twitter.com/uvlens" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a class="social instagram" href="https://www.instagram.com/uvlens/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
      </section>

    </section>
    <section class = "mobile-navigation">
      <i (click)="onOpenMenu()" class="fa fa-bars" aria-hidden="true"></i>
    </section>

  <div [ngClass]="isOpen ? 'open': ''">
    <section class="dropped-mobile-menu col-xs-12" >
      <div class="col-sm-12 menu-item menu-item-center">
        <a (click)="onOpenMenu()" routerLinkActive="active" [routerLink]="['home']" class="orange-link">HOME</a>
      </div>
      <div class="col-sm-12 menu-item  menu-item-center">
        <a  (click)="dropIsOpen = !dropIsOpen"  class="orange-link" >SCHOOLS <i class="fa fa-caret-down" aria-hidden="true"></i></a>
        <div class="col-sm-12 drop-in-drop-group " [ngClass]="dropIsOpen ? '': 'dropdown-content'">
          <div class="col-sm-12 spacing">
            <a routerLinkActive="drop-in-drop-active"  (click)="onOpenMenu()" class="drop-in-drop " [routerLink]="['schools/about']">ABOUT</a>
          </div>
          <div class="col-sm-12 spacing">
            <a routerLinkActive="drop-in-drop-active"  (click)="onOpenMenu()"  class="drop-in-drop" href="http://help.uvlens.com/article/6-weather-station-installation">INSTALLATION</a>
          </div>
          <div class="col-sm-12 spacing">
            <a routerLinkActive="drop-in-drop-active"  (click)="onOpenMenu()" class="drop-in-drop"  [routerLink]="['schools/registration']" href="#">REGISTRATION</a>
          </div>
          <div class="col-sm-12 spacing">
            <a routerLinkActive="drop-in-drop-active"  (click)="onOpenMenu()" class="drop-in-drop" href="#">DATA PORTAL</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 menu-item menu-item-center">
        <a (click)="onOpenMenu()" routerLinkActive="active" [routerLink]="['about']" class="orange-link">ABOUT</a>
      </div>
      <div class="col-sm-12 menu-item  menu-item-center">
        <a (click)="onOpenMenu()" routerLinkActive="active" [routerLink]="['contact']" class="orange-link" >CONTACT</a>
      </div>
      <div class="col-sm-12 menu-item  menu-item-center">
        <!--<a (click)="onOpenMenu()" href="#" class="orange-link" [routerLink]="['widget']">FORECAST</a>-->
      </div>
    </section>
  </div>

</div>

