<div class="container-fluid map-size" >
  <div class="form-group">
    <input [ngStyle]="isLoaded ? {}: {'display':'none'}" id="pac-input" class="controls" type="text"
           placeholder="Enter a location" #search [formControl]="searchControl">
  </div>
  <div id="map" #map></div>
  <div *ngIf="display" [ngClass]="info_big ? 'info-window':'info-window-small'">
    <div class="close" *ngIf="!info_big">
      <span aria-hidden="true" (click)="hideInfo()">&times;</span>
    </div>
    <div class="close" *ngIf="info_big">
      <span aria-hidden="true" (click)="minimizeInfo()">&minus;</span>
    </div>
    <div class="content-style">
      <app-wheel *ngIf="info_big" [apiData]="apiData"></app-wheel>
      <div *ngIf="!info_big">

        <h5>{{name}}</h5>
        <h5 *ngIf="!flamesLoading">
          <div class="loader"></div>
        </h5>
        <div *ngIf="flamesLoading" class="info-picture col-xs-12">
          <div class="font-weight-bold">{{uvLevel}} UV</div>
          <img *ngIf="uvLevel =='Extreme'" src="./assets/widget/widget-flames/extreme.svg" alt="">
          <img *ngIf="uvLevel =='None'" src="./assets/widget/widget-flames/none.svg" alt="">
          <img *ngIf="uvLevel =='Low'" src="./assets/widget/widget-flames/low.svg" alt="">
          <img *ngIf="uvLevel =='High'" src="./assets/widget/widget-flames/high.svg" alt="">
          <img *ngIf="uvLevel =='Moderate'" src="./assets/widget/widget-flames/moderate.svg" alt="">
          <img *ngIf="uvLevel =='Very high'" src="./assets/widget/widget-flames/veryhigh.svg" alt="">
        </div>
        <div class="col-xs-12 padding-button">
          <!--<div class="dropper"></div>-->
          <button [disabled]="!flamesLoading" (click)="openWheelComponent()" class="button-style">Full UV report</button>
        </div>
      </div>
    </div>
  </div>
</div>


