.page-header{
  margin-top: 90px;
  color: #f27121;
  border-bottom: 1px solid lightgray;
  margin-bottom: 20px;
}
.fixed-properties{
  width: 90% ;
  margin-top: 10px;
}
.name-wrap{
  word-wrap: break-word;
}

.header-block{
  margin:20px;
}
.dev-head{
  height:75px;
}
.dev-row{
  text-align: center;
}
