
<div class="container-fluid">
  <div class="header-block">
    <div class="page-header">
      <h1 >Designers and Developers </h1>
    </div>
      <div class="row dev-row">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <div class="card">
            <div class="card-block text-xs-center">
              <div class="dev-head">
                <h5 class="card-title">Jade</h5>
                <h6 class="card-subtitle text-muted"> Lead Designer</h6>
              </div>

              <img class="fixed-properties rounded-circle " src="./assets/images/about/team/jade.jpg"  alt="Card image">
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <div class="card">
            <div class="card-block text-xs-center">
              <div class="dev-head">
                <h5 class="card-title">Niclas</h5>
                <h6 class="card-subtitle text-muted"> Coding Grand-master</h6>
              </div>
              <img class="fixed-properties rounded-circle " src="./assets/images/about/team/niclas.jpg"  alt="Card image">

            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <div class="card">
            <div class="card-block text-xs-center">
              <div class="dev-head">
                <h5 class="card-title">Michael</h5>
                <h6 class="card-subtitle text-muted"></h6>
              </div>
              <img class="fixed-properties rounded-circle " src="./assets/images/about/team/michael.jpg"  alt="Card image">
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <div class="card">
            <div class="card-block text-xs-center">
              <div class="dev-head">
                <h5 class="card-title">Dimitrii</h5>
                <h6 class="card-subtitle text-muted"> </h6>
              </div>

              <img class="fixed-properties rounded-circle " src="./assets/images/about/team/dimitrii.jpg"  alt="Card image">
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3 offset-md-3 col-lg-2 offset-lg-0">
          <div class="card">
            <div class="card-block text-xs-center">
              <div class="dev-head">
                <h5 class="card-title">Anton</h5>
                <h6 class="card-subtitle text-muted"></h6>
              </div>
              <img class="fixed-properties rounded-circle " src="./assets/images/about/team/anton.jpg"  alt="Card image">
            </div>
          </div>
        </div>
<!--      </div>
      <div class="row dev-row">-->

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <div class="card">
            <div class="card-block text-xs-center">
              <div class="dev-head">
                <h5 class="card-title">Aorangi</h5>
                <h6 class="card-subtitle text-muted"> </h6>
              </div>
              <img class="fixed-properties rounded-circle " src="./assets/images/about/team/aorangi.jpg"  alt="Card image">
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
