<div class="container-fluid">
  <div class="header-block">
    <div class="page-header">
      <h1 >Founders </h1>
    </div>
    <div class="card-deck-wrapper">

      <div class="card-deck">
        <div class="card">
          <div class="card-block founders-head text-xs-center">
            <h5 class="card-title">Daniel Xu <a href="http://nz.linkedin.com/in/danielxu64" target="_blank" ><i class="fa fa-linkedin-square"></i></a></h5>
            <h6 class="card-subtitle text-muted"> CEO</h6>
            <img class="fixed-properties rounded-circle " src="./assets/images/about/team/daniel.jpg"  alt="Card image">
          </div>
          <div class="card-block founders-text">
            <p class="card-text"> Daniel did a PhD in bio-mechatronics Engineering. He was awarded the AMP National Scholarship as
              one of 10 people doing great things in New Zealand. He enjoys finding challenging problems to
              solve and is the inventor of a number of patents. In his spare time, he enjoys surfing, hockey,
              football and exploring the outdoors. </p>
          </div>
        </div>

        <div class="card">
          <div class="card-block founders-head text-xs-center">
            <h5 class="card-title">Ming Cheuk  <a href="http://nz.linkedin.com/in/mingcheuk" target="_blank" ><i class="fa fa-linkedin-square"></i></a></h5>
            <h6 class="card-subtitle text-muted"> CTO</h6>
            <img class="fixed-properties rounded-circle " src="./assets/images/about/team/ming.jpg"  alt="Card image">
          </div>
          <div class="card-block founders-text">
            <p class="card-text"> Ming leads the R&D at Spark 64. He has a background in Mechatronics Engineering where he graduated
              top of his class. In his spare time, he volunteers teaching software courses to tertiary students
              through the Microsoft Student Accelerator programme. He was invited to represent New Zealand
              as the Student Partner at the MSP world summit.</p>
          </div>
        </div>

        <div class="card">
          <div class="card-block founders-head text-xs-center">
            <h5 class="card-title richard-text">Richard McLean <a href="http://nz.linkedin.com/in/richardmcleannz" target="_blank" ><i class="fa fa-linkedin-square"></i></a></h5>
            <h6 class="card-subtitle text-muted"> Executive Chair</h6>
            <img class="fixed-properties rounded-circle " src="./assets/images/about/team/richard.jpg"  alt="Card image">
          </div>
          <div class="card-block founders-text">
            <p class="card-text"> Richard is an experienced director and a specialist in the development of IP based global businesses.
              He has over 30 years of solid commercial experience and a passion for rapid growth and the creation
              of company value. Over time he has played an active role in the success of many New Zealand technology
              companies.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
