<section class="intro">
  <div class= "vh_height100">
    <div class="back-image"></div>
    <div class="container block-align-center">
      <h1 class="header">Live weather data for your school</h1>
      <p class="under-header">Measure, record, and analyse live environmental data, and make it accessible to students,
        staff and parents.</p>
      <div class="col-xs-12 weather-kit-container container">
        <div class=" col-lg-6 col-md-8 col-sm-12">
          <img src="./assets/images/schools/weather-kit.jpg" class="img-responsive weather-kit-img">
        </div>
        <div class="col-lg-6 col-md-4 col-sm-12 text-align">
          <p class="intro-top">INTRODUCING</p>
          <p class="under-top">The UVLens® Weather Kit</p>
          <p class="description">The UVLens® Weather Kit contains sensors and software to measure the local UV, temperature, rainfall, and more at your school.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="information">
  <div class="container information-container">
    <div class="row info">
      <div class="col-xs-12 col-md-6 col-sm-push-6">
        <img src="./assets/images/schools/weather_dashboard.png" class="img-responsive image-size">
      </div>
      <div class="col-md-6 col-sm-pull-6 text-padding">
        <p class="orange-header">
          Collect <span>data</span>
        </p>
        <ul class="ul-text">
          <li class="li-margin">Collect UV, rainfall, windspeed, temperature and humidity data at your school.</li>
          <li class="li-margin">Livestream to data dashboards and use in school projects.</li>
        </ul>
      </div>
    </div>
    <div class="row info">
      <div class="col-md-6 img-left">
        <img src="./assets/images/schools/earth-visualisation.jpg" class="img-responsive image-size">
      </div>
      <div class="col-md-6 text-padding">
        <p class="orange-header">
          Create <span>visualisations</span>
        </p>
        <ul class="ul-text">
          <li class="li-margin">The weather kit bundles software and toolkits to help you build your own visualisations.</li>
          <li class="li-margin">Compare data accross time and locations.</li>
        </ul>
      </div>
    </div>
    <div class="row info">
      <div class="col-md-6 col-sm-push-6">
        <img src="./assets/images/schools/app_ipad.jpg" class="img-responsive image-size">
      </div>
      <div class="col-md-6 col-sm-pull-6 text-padding">
        <p class="orange-header">
          Stay <span>safe</span>
        </p>
        <ul class="ul-text">
          <li class="li-margin">Live UV and sun safety information that is local to your school.</li>
          <li class="li-margin">Premium UVLens® iOS and Android app license for students and teachers.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="order">
  <div class="container align-container">
    <h1 class="order-header">Order your UVLens® Weather Kit now and get started.</h1>
    <div class="order-container">
      <div class="row">
        <div class="col-md-6 img-padding">
          <img src="./assets/images/schools/weather-kit.jpg" class="img-responsive image-size">
        </div>
        <div class="col-md-6 text-padding">
          <p class="grey-header">
            Monitoring Kit
          </p>
          <p class="price">
            $475
          </p>
          <p>
            Get started with the equipment to monitor the environmental conditions at your school. The kit includes:
          </p>
          <ul class="ul-text-2">
            <li>A weather station</li>
            <li>Mounting hardware</li>
            <li>Installation support</li>
          </ul>
          <a class="remove-underline" href="http://help.uvlens.com/article/6-weather-station-installation">
            <div class="button-info">
              More info...
            </div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 img-padding">
          <img src="./assets/images/schools/app_iphone.jpg" class="img-responsive image-size">
        </div>
        <div class="col-md-6 text-padding">
          <p class="grey-header">
            Premium App License
          </p>
          <p class="price">
            <span class="line-through">$49</span> $39/month <span class="brackets">(introductory offer)</span>
          </p>
          <p>
            School-wide premium license to the UVLens® app for your students and staff.
          </p>
          <ul class="ul-text-2">
            <li>Live UV data at your school, and anywhere else in the country</li>
            <li>Real-time alerts when the UV conditions change</li>
            <li>Sunsmart educational material</li>
          </ul>
        </div>
      </div>
    </div>
    <a class="remove-underline" data-toggle="modal" data-target="#myModal">
      <div class="button-order" angulartics2On="click" angularticsEvent="click" angularticsCategory="Order Button">
        Order now
      </div>
    </a>

  </div>
</section>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="order-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close close-button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="contact-header" id="order-label">Order Now</h2>
      </div>
      <!-- end of header -->
      <div class="modal-body">

        <p>Fill in your details below and our sales team will be in contact within the next working day.</p>

        <form class="form-horizontal" (ngSubmit)="onSubmit()" [formGroup]="myForm" novalidate>
          <div class="form-group">
            <label class="control-label label-style" >Name *</label>

              <input type="text" class="form-control" formControlName= "name" placeholder="Name" required>

            <small class="text-danger" *ngIf="myForm.get('name').hasError('required') && myForm.get('name').touched" >Name is required</small>

          </div>

          <div class="form-group ">
            <label class=" control-label label-style" >Email *</label>

              <input type="email" class="form-control" formControlName= "email" placeholder="Email" required>

            <small class=" text-danger" *ngIf="myForm.get('email').hasError('required') && myForm.get('email').touched">Email is required </small>
            <small class=" text-danger" *ngIf="myForm.get('email').hasError('pattern') && myForm.get('email').touched">Valid Email is required </small>

            <!-- end of row-->
          </div>

          <div class="form-group">
            <label class=" control-label label-style" >Phone number</label>

              <input type="tel" class="form-control" formControlName= "phone" placeholder="Phone number" required>
            <small class=" text-danger" *ngIf="myForm.get('phone').hasError('required') && myForm.get('phone').touched">Phone Number is required </small>
            <!-- end of row-->
          </div>

          <div class="form-group ">
            <label class="control-label label-style" >School *</label>
              <input type="text" class="form-control" formControlName= "school" placeholder="School" required>
            <small class="text-danger" *ngIf="myForm.get('school').hasError('required') && myForm.get('school').touched">School is required </small>

            <!-- end of row-->
          </div>
          <!-- end of form group -->
          <div class="row">

            <div class="col-md-6 push-md-6 required-text ">
              <span class="help-block custom-help"> * This field is required. </span>
            </div>

            <div class="col-md-6 pull-md-6" >
              <button type="submit" class="btn btn-default btn-custom"  [disabled]="myForm.invalid"> SUBMIT </button>
            </div>
          </div>
        </form>
      </div>
      <!-- end of body -->
      <div class="modal-footer" >
        <div id="successRegister">
        </div>
      </div>
    </div>
    <!-- end of modal content-->
  </div>
  <!--end of modal-dialog-->
</div>

