<div id="god">
  <section class="loading" *ngIf="!isLoaded">

    {{hint}}

  </section>
  <section id="main-container">
    <div class="align">
      <div class=" col-xs-12 col-md-6" id="slider" [ngStyle]="isLoaded ? {}: {'display':'none'}"></div>
    </div>
    <div class ="col-xs-12 col-md-6 offset-md-6 information">
        <section [ngStyle]="isLoaded ? {}: {'display':'none'}" class="main-info col-xs-12">
          <h6  class="head-font location" >{{forecastDay}} forecast</h6>
          <h3 class="head-font uvTag" [ngStyle]="{'color':textColor}">{{uvValue}} UV</h3>
          <h6 class="head-font location" >in {{place}}</h6>
        </section>
        <section  class="col-xs-12">
          <div class="body-font" [ngStyle]="isLoaded ? {}: {'display':'none'}" >{{message}}</div>
          <!--<button class="button-style" >Explore UV</button>-->
        </section>
    </div>
  </section>
</div>
