.footer-container {
  color: white;
  padding-top: 20px;
  background-color: #253B48;
}

a {
  color: white;
  transition: all 0.3s;
  text-decoration: none;
}
a:hover, a focus {
  color: #55acee;
}

.footer-social {
  margin-left: 10px;
  margin-right: 10px;
  float: right;
}

.footer-facebook {
  color: #3b5998 !important;
}

.footer-twitter {
  color: #55acee !important;
}

.footer-instagram {
  color: #3f729b !important;
}

@media only screen and (max-width: 767px) {
  .footer-container {
    text-align: center;
  }

  .footer-social {
    float: none;
  }

  .licence-row {
    padding-bottom: 0;
  }
}
