
<div class="footer-container">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h2 ><a [routerLink]="['contact']"> Contact Us </a> </h2>
        <p >
          <a href="mailto: enquiries@spark64.com?Subject=Hello%20" target="_top">enquiries@spark64.com</a>
          <br>
          <br> Ground Floor <br> 70 Symonds St <br> Auckland, <br> New Zealand </p>
      </div>
      <div class="col-md-6 col-sm-12 ">
        <div class="row" >
          <a class="footer-social footer-instagram"  href="https://www.instagram.com/uvlens/" target="_blank"
             rel="nofollow" title="UVLens on Instagram"> <i class="fa fa-instagram fa-2x"></i> </a>

          <a class="footer-social footer-twitter" href="https://twitter.com/uvlens" target="_blank"
             rel="nofollow" title="UVLens on Twitter"> <i class="fa fa-twitter fa-2x"></i> </a>

          <a class="footer-social footer-facebook" href="https://www.facebook.com/UVLens/?fref=ts"
             target="_blank" rel="nofollow" title="UVLens on Facebook"> <i class="fa fa-facebook fa-2x"></i> </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 push-lg-6">
        <a class="footer-social"  href="http://www.uvlens.com/license.html">
          <p class="licence-row">License Agreement</p>
        </a>
        <a class="footer-social"  href="http://www.uvlens.com/privacy.html">
          <p class="licence-row">Privacy Policy</p>
        </a>
        <a class="footer-social"  href="https://medium.com/@techno246/uvlens-media-kit-f1b71c2df877#.y5zv65q8e">
          <p class="licence-row">Press Kit</p>
        </a>
      </div>
      <div class="col-lg-6 pull-lg-6 ">
        <p class=""> &copy; 2016 Spark Sixty Four Limited, All Rights Reserved. </p>
      </div>
    </div>
  </div>
</div>
