.back-image {
  /*max-height: 100vh;*/
  /*min-height: 100vh;*/
  position: absolute;
  left:0;
  right: 0;
  top:0;
  bottom:0;
  background: url("./assets/images/schools/bg-section.svg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 25%;
  text-align: center;
}

.align-center {
  text-align: center;
}

.header-font {
  font-size: 2.5em;
  word-wrap: break-word;
  margin-right: 7.5%;
  margin-bottom: 7.5%;
  margin-left: 7.5%;
  color: white;
}

.sub-header-font {
  font-size: 1.5em;
  color: #f9d7ce;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 12.5%;
}

.form-container {
  margin-top: 80px;
  padding-left: 5%;
  padding-right: 5%;
}

.content-container {
  font-family: Montserrat,sans-serif;
}

.label-style {
  font-size: 1.2rem;
  font-weight: 700;
}

.text-style {
  font-size: 16px;
  color: #333;
}

.center-form {
  padding-left: 10%;
  padding-right: 10%;
}

.custom-help {
  color: #737373;
}

.btn-custom {
  color: #fff;
  background: #f60;
  border: none;
  border-radius: 50px;
  font-size: 0.8rem;
  width: 115px;
  height: 45px;
}
.btn-custom:hover {
  background: #fa860a;
  transition: background .25s ease;
}

form .ng-invalid.ng-touched {
  border: 1px solid #d9534f;
  /* red */
}

@media only screen and (max-width: 576px) {
  .header-font {
    font-size: 2em;
    margin-top: 7.5%;
  }

  .sub-header-font {
    font-size: 1em;
  }
}
