.page-header{
  margin-top: 100px;
  color: #f27121;
  border-bottom: 1px solid lightgray;
  margin-bottom: 20px;
}
.tabbed-text{
  border-left: 2px solid lightgray;
  padding:10px 20px 10px 15px  ;
}

.header-block{
  margin:20px;
}
.story-title{
  font-size: 1.2em;
  color: #f27121;
}
@media only screen and (max-width: 576px){
  .header-block {
    margin-left: 3px;
  }
}
