
<div class="container-fluid">
  <div class="header-block">
    <div class="page-header">
      <h1 >UVLens - Our Story </h1>
    </div>
    <blockquote class="tabbed-text">
      <p> <span class="story-title">UVLens </span> is being developed by a team at Spark 64 Ltd, a company making products
        to help people live healthier outdoor lives. Guided by Richard McLean, who has over 30 years of commercial
        business experience, the company formed in 2013 after the team won the National Finals of the Microsoft Imagine
        Cup while Daniel and Ming were still studying their PhD degrees.
        <br>
        <br> The company has a focus in education, providing digital information and tools to teach people about
        UV and sun safety. In a partnership with Banana Boat sunscreen, over 100 UV sensors were installed around
        the country to protect preschool children from the sun.
        <br>
        <br> The team at Spark 64 believe in using technology to ignite new ideas, business as a force for good,
        having fun and giving back to the community through internship and scholarship opportunities. </p>
    </blockquote>
  </div>
</div>
